@mixin close {
  .close {
    position: absolute;
    top: 0;
    left: 100%;
    width: fit-content;
    padding-left: 32px;
    z-index: 10;

    &_tablet {
      display: none;
      width: 40px;
      height: 4px;
      border-radius: 2px;
      background-color: var(--mdl-tablet-cs-bgc, #71717a);

      &:hover {
        background-color: var(--mdl-tablet-cs-bgc-h, #6366f1);
      }

      &:active {
        background-color: var(--mdl-tablet-cs-bgc-a, #4338ca);
      }
    }

    &_web {
      display: block;
    }

    @media (max-width: 768px) {
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      padding-left: 0;

      &_tablet {
        display: block;
      }

      &_web {
        display: none;
      }
    }
  }
}
