$style: (
  content: (
    font-family: "SB Sans Interface, Arial, Helvetica, sans-serif",
    text-case: Uppercase,
    font-weight: 400,
    notion-color: var(--av__ntn-clr, rgb(52, 211, 153)),
  ),
);
