@use './transitions' as transitions;

.transition {
  --mdl-animation-time: 0.3s;
  --mdl-animation-method: ease-in-out;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  z-index: 1300;

  @include transitions.overlayTransitions;
  @include transitions.contentTransitions;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--mdl-overlay-bgc);
    z-index: -1;

    &_noPointerEvents {
      pointer-events: none;
    }
  }

  .scrollbody {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
}
