$theme-dark: (
  color-dark-solid: (
    content-general: var(--btn_dk-s_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--btn_dk-s_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--btn_dk-s_bg, rgb(23, 23, 23)),
    background-focused: var(--btn_dk-s_bg-f, rgb(64, 64, 64)),
    background-hovered: var(--btn_dk-s_bg-h, rgb(64, 64, 64)),
    background-pressed: var(--btn_dk-s_bg-p, rgb(82, 82, 82)),
    background-loading: var(--btn_dk-s_bg-l, rgb(82, 82, 82)),
    border: var(--btn_dk-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_dk-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-dark-elevate: (
    content-general: var(--btn_dk-el_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--btn_dk-el_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--btn_dk-el_bg, rgb(23, 23, 23)),
    background-focused: var(--btn_dk-el_bg-f, rgb(64, 64, 64)),
    background-hovered: var(--btn_dk-el_bg-h, rgb(64, 64, 64)),
    background-pressed: var(--btn_dk-el_bg-p, rgb(82, 82, 82)),
    background-loading: var(--btn_dk-el_bg-l, rgb(82, 82, 82)),
    border: var(--btn_dk-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_dk-el_sh, 0px 2px 10px 0px rgba(23, 23, 23, 0.1)),
  ),
  color-dark-ghost: (
    content-general: var(--btn_dk-gh_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--btn_dk-gh_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--btn_dk-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_dk-gh_bg-f, rgb(212, 212, 212)),
    background-hovered: var(--btn_dk-gh_bg-h, rgb(212, 212, 212)),
    background-pressed: var(--btn_dk-gh_bg-p, rgb(163, 163, 163)),
    background-loading: var(--btn_dk-gh_bg-l, rgb(163, 163, 163)),
    border: var(--btn_dk-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_dk-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-dark-ghost-outline: (
    content-general: var(--btn_dk-gh-o_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_dk-gh-o_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_dk-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_dk-gh-o_bg-f, rgb(212, 212, 212)),
    background-hovered: var(--btn_dk-gh-o_bg-h, rgb(212, 212, 212)),
    background-pressed: var(--btn_dk-gh-o_bg-p, rgb(163, 163, 163)),
    background-loading: var(--btn_dk-gh-o_bg-l, rgb(163, 163, 163)),
    border: var(--btn_dk-gh-o_br, rgb(23, 23, 23)),
    shadow: var(--btn_dk-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-solid: (
    content-general: var(--btn_lt-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_lt-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_lt-s_bg, rgb(245, 245, 245)),
    background-focused: var(--btn_lt-s_bg-f, rgb(212, 212, 212)),
    background-hovered: var(--btn_lt-s_bg-h, rgb(212, 212, 212)),
    background-pressed: var(--btn_lt-s_bg-p, rgb(163, 163, 163)),
    background-loading: var(--btn_lt-s_bg-l, rgb(163, 163, 163)),
    border: var(--btn_lt-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_lt-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-elevate: (
    content-general: var(--btn_lt-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_lt-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_lt-el_bg, rgb(245, 245, 245)),
    background-focused: var(--btn_lt-el_bg-f, rgb(212, 212, 212)),
    background-hovered: var(--btn_lt-el_bg-h, rgb(212, 212, 212)),
    background-pressed: var(--btn_lt-el_bg-p, rgb(163, 163, 163)),
    background-loading: var(--btn_lt-el_bg-l, rgb(163, 163, 163)),
    border: var(--btn_lt-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_lt-el_sh, 0px 2px 10px 0px rgba(245, 245, 245, 0.1)),
  ),
  color-light-ghost: (
    content-general: var(--btn_lt-gh_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--btn_lt-gh_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--btn_lt-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_lt-gh_bg-f, rgb(212, 212, 212)),
    background-hovered: var(--btn_lt-gh_bg-h, rgb(212, 212, 212)),
    background-pressed: var(--btn_lt-gh_bg-p, rgb(163, 163, 163)),
    background-loading: var(--btn_lt-gh_bg-l, rgb(163, 163, 163)),
    border: var(--btn_lt-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_lt-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-ghost-outline: (
    content-general: var(--btn_lt-gh-o_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_lt-gh-o_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_lt-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_lt-gh-o_bg-f, rgb(212, 212, 212)),
    background-hovered: var(--btn_lt-gh-o_bg-h, rgb(212, 212, 212)),
    background-pressed: var(--btn_lt-gh-o_bg-p, rgb(163, 163, 163)),
    background-loading: var(--btn_lt-gh-o_bg-l, rgb(163, 163, 163)),
    border: var(--btn_lt-gh-o_br, rgb(245, 245, 245)),
    shadow: var(--btn_lt-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-solid: (
    content-general: var(--btn_pm-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_pm-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_pm-s_bg, rgb(99, 102, 241)),
    background-focused: var(--btn_pm-s_bg-f, rgb(79, 70, 229)),
    background-hovered: var(--btn_pm-s_bg-h, rgb(79, 70, 229)),
    background-pressed: var(--btn_pm-s_bg-p, rgb(67, 56, 202)),
    background-loading: var(--btn_pm-s_bg-l, rgb(67, 56, 202)),
    border: var(--btn_pm-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_pm-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-elevate: (
    content-general: var(--btn_pm-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_pm-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_pm-el_bg, rgb(99, 102, 241)),
    background-focused: var(--btn_pm-el_bg-f, rgb(79, 70, 229)),
    background-hovered: var(--btn_pm-el_bg-h, rgb(79, 70, 229)),
    background-pressed: var(--btn_pm-el_bg-p, rgb(67, 56, 202)),
    background-loading: var(--btn_pm-el_bg-l, rgb(67, 56, 202)),
    border: var(--btn_pm-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_pm-el_sh, 0px 2px 10px 0px rgba(99, 102, 241, 0.1)),
  ),
  color-primary-ghost: (
    content-general: var(--btn_pm-gh_cnt-gn, rgb(99, 102, 241)),
    content-additional: var(--btn_pm-gh_cnt-ad, rgba(99, 102, 241, 0.6)),
    background: var(--btn_pm-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_pm-gh_bg-f, rgb(199, 210, 254)),
    background-hovered: var(--btn_pm-gh_bg-h, rgb(199, 210, 254)),
    background-pressed: var(--btn_pm-gh_bg-p, rgb(165, 180, 252)),
    background-loading: var(--btn_pm-gh_bg-l, rgb(165, 180, 252)),
    border: var(--btn_pm-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_pm-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-ghost-outline: (
    content-general: var(--btn_pm-gh-o_cnt-gn, rgb(99, 102, 241)),
    content-additional: var(--btn_pm-gh-o_cnt-ad, rgba(99, 102, 241, 0.6)),
    background: var(--btn_pm-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_pm-gh-o_bg-f, rgb(199, 210, 254)),
    background-hovered: var(--btn_pm-gh-o_bg-h, rgb(199, 210, 254)),
    background-pressed: var(--btn_pm-gh-o_bg-p, rgb(165, 180, 252)),
    background-loading: var(--btn_pm-gh-o_bg-l, rgb(165, 180, 252)),
    border: var(--btn_pm-gh-o_br, rgb(99, 102, 241)),
    shadow: var(--btn_pm-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-solid: (
    content-general: var(--btn_sc-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_sc-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_sc-s_bg, rgb(59, 130, 246)),
    background-focused: var(--btn_sc-s_bg-f, rgb(37, 99, 235)),
    background-hovered: var(--btn_sc-s_bg-h, rgb(37, 99, 235)),
    background-pressed: var(--btn_sc-s_bg-p, rgb(29, 78, 216)),
    background-loading: var(--btn_sc-s_bg-l, rgb(29, 78, 216)),
    border: var(--btn_sc-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_sc-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-elevate: (
    content-general: var(--btn_sc-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_sc-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_sc-el_bg, rgb(59, 130, 246)),
    background-focused: var(--btn_sc-el_bg-f, rgb(37, 99, 235)),
    background-hovered: var(--btn_sc-el_bg-h, rgb(37, 99, 235)),
    background-pressed: var(--btn_sc-el_bg-p, rgb(29, 78, 216)),
    background-loading: var(--btn_sc-el_bg-l, rgb(29, 78, 216)),
    border: var(--btn_sc-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_sc-el_sh, 0px 2px 10px 0px rgba(59, 130, 246, 0.1)),
  ),
  color-secondary-ghost: (
    content-general: var(--btn_sc-gh_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_sc-gh_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_sc-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_sc-gh_bg-f, rgb(191, 219, 254)),
    background-hovered: var(--btn_sc-gh_bg-h, rgb(191, 219, 254)),
    background-pressed: var(--btn_sc-gh_bg-p, rgb(147, 197, 253)),
    background-loading: var(--btn_sc-gh_bg-l, rgb(147, 197, 253)),
    border: var(--btn_sc-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_sc-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-ghost-outline: (
    content-general: var(--btn_sc-gh-o_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_sc-gh-o_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_sc-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_sc-gh-o_bg-f, rgb(191, 219, 254)),
    background-hovered: var(--btn_sc-gh-o_bg-h, rgb(191, 219, 254)),
    background-pressed: var(--btn_sc-gh-o_bg-p, rgb(147, 197, 253)),
    background-loading: var(--btn_sc-gh-o_bg-l, rgb(147, 197, 253)),
    border: var(--btn_sc-gh-o_br, rgb(59, 130, 246)),
    shadow: var(--btn_sc-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative-solid: (
    content-general: var(--btn_inf-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_inf-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_inf-s_bg, rgb(59, 130, 246)),
    background-focused: var(--btn_inf-s_bg-f, rgb(37, 99, 235)),
    background-hovered: var(--btn_inf-s_bg-h, rgb(37, 99, 235)),
    background-pressed: var(--btn_inf-s_bg-p, rgb(29, 78, 216)),
    background-loading: var(--btn_inf-s_bg-l, rgb(29, 78, 216)),
    border: var(--btn_inf-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_inf-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative-elevate: (
    content-general: var(--btn_inf-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_inf-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_inf-el_bg, rgb(59, 130, 246)),
    background-focused: var(--btn_inf-el_bg-f, rgb(37, 99, 235)),
    background-hovered: var(--btn_inf-el_bg-h, rgb(37, 99, 235)),
    background-pressed: var(--btn_inf-el_bg-p, rgb(29, 78, 216)),
    background-loading: var(--btn_inf-el_bg-l, rgb(29, 78, 216)),
    border: var(--btn_inf-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_inf-el_sh, 0px 2px 10px 0px rgba(59, 130, 246, 0.1)),
  ),
  color-informative-ghost: (
    content-general: var(--btn_inf-gh_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_inf-gh_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_inf-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_inf-gh_bg-f, rgb(191, 219, 254)),
    background-hovered: var(--btn_inf-gh_bg-h, rgb(191, 219, 254)),
    background-pressed: var(--btn_inf-gh_bg-p, rgb(147, 197, 253)),
    background-loading: var(--btn_inf-gh_bg-l, rgb(147, 197, 253)),
    border: var(--btn_inf-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_inf-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative-ghost-outline: (
    content-general: var(--btn_inf-gh-o_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_inf-gh-o_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_inf-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_inf-gh-o_bg-f, rgb(191, 219, 254)),
    background-hovered: var(--btn_inf-gh-o_bg-h, rgb(191, 219, 254)),
    background-pressed: var(--btn_inf-gh-o_bg-p, rgb(147, 197, 253)),
    background-loading: var(--btn_inf-gh-o_bg-l, rgb(147, 197, 253)),
    border: var(--btn_inf-gh-o_br, rgb(59, 130, 246)),
    shadow: var(--btn_inf-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive-solid: (
    content-general: var(--btn_ps-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_ps-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_ps-s_bg, rgb(16, 185, 129)),
    background-focused: var(--btn_ps-s_bg-f, rgb(5, 150, 105)),
    background-hovered: var(--btn_ps-s_bg-h, rgb(5, 150, 105)),
    background-pressed: var(--btn_ps-s_bg-p, rgb(4, 120, 87)),
    background-loading: var(--btn_ps-s_bg-l, rgb(4, 120, 87)),
    border: var(--btn_ps-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_ps-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive-elevate: (
    content-general: var(--btn_ps-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_ps-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_ps-el_bg, rgb(16, 185, 129)),
    background-focused: var(--btn_ps-el_bg-f, rgb(5, 150, 105)),
    background-hovered: var(--btn_ps-el_bg-h, rgb(5, 150, 105)),
    background-pressed: var(--btn_ps-el_bg-p, rgb(4, 120, 87)),
    background-loading: var(--btn_ps-el_bg-l, rgb(4, 120, 87)),
    border: var(--btn_ps-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_ps-el_sh, 0px 2px 10px 0px rgba(16, 185, 129, 0.1)),
  ),
  color-positive-ghost: (
    content-general: var(--btn_ps-gh_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--btn_ps-gh_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--btn_ps-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_ps-gh_bg-f, rgb(186, 243, 208)),
    background-hovered: var(--btn_ps-gh_bg-h, rgb(186, 243, 208)),
    background-pressed: var(--btn_ps-gh_bg-p, rgb(110, 231, 183)),
    background-loading: var(--btn_ps-gh_bg-l, rgb(110, 231, 183)),
    border: var(--btn_ps-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_ps-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive-ghost-outline: (
    content-general: var(--btn_ps-gh-o_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--btn_ps-gh-o_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--btn_ps-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_ps-gh-o_bg-f, rgb(186, 243, 208)),
    background-hovered: var(--btn_ps-gh-o_bg-h, rgb(186, 243, 208)),
    background-pressed: var(--btn_ps-gh-o_bg-p, rgb(110, 231, 183)),
    background-loading: var(--btn_ps-gh-o_bg-l, rgb(110, 231, 183)),
    border: var(--btn_ps-gh-o_br, rgb(16, 185, 129)),
    shadow: var(--btn_ps-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention-solid: (
    content-general: var(--btn_at-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_at-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_at-s_bg, rgb(245, 158, 11)),
    background-focused: var(--btn_at-s_bg-f, rgb(217, 119, 6)),
    background-hovered: var(--btn_at-s_bg-h, rgb(217, 119, 6)),
    background-pressed: var(--btn_at-s_bg-p, rgb(180, 83, 9)),
    background-loading: var(--btn_at-s_bg-l, rgb(180, 83, 9)),
    border: var(--btn_at-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_at-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention-elevate: (
    content-general: var(--btn_at-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_at-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_at-el_bg, rgb(245, 158, 11)),
    background-focused: var(--btn_at-el_bg-f, rgb(217, 119, 6)),
    background-hovered: var(--btn_at-el_bg-h, rgb(217, 119, 6)),
    background-pressed: var(--btn_at-el_bg-p, rgb(180, 83, 9)),
    background-loading: var(--btn_at-el_bg-l, rgb(180, 83, 9)),
    border: var(--btn_at-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_at-el_sh, 0px 2px 10px 0px rgba(245, 158, 11, 0.1)),
  ),
  color-attention-ghost: (
    content-general: var(--btn_at-gh_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--btn_at-gh_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--btn_at-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_at-gh_bg-f, rgb(253, 230, 138)),
    background-hovered: var(--btn_at-gh_bg-h, rgb(253, 230, 138)),
    background-pressed: var(--btn_at-gh_bg-p, rgb(252, 211, 77)),
    background-loading: var(--btn_at-gh_bg-l, rgb(252, 211, 77)),
    border: var(--btn_at-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_at-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention-ghost-outline: (
    content-general: var(--btn_at-gh-o_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--btn_at-gh-o_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--btn_at-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_at-gh-o_bg-f, rgb(253, 230, 138)),
    background-hovered: var(--btn_at-gh-o_bg-h, rgb(253, 230, 138)),
    background-pressed: var(--btn_at-gh-o_bg-p, rgb(252, 211, 77)),
    background-loading: var(--btn_at-gh-o_bg-l, rgb(252, 211, 77)),
    border: var(--btn_at-gh-o_br, rgb(245, 158, 11)),
    shadow: var(--btn_at-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative-solid: (
    content-general: var(--btn_ng-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_ng-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_ng-s_bg, rgb(239, 68, 68)),
    background-focused: var(--btn_ng-s_bg-f, rgb(220, 38, 38)),
    background-hovered: var(--btn_ng-s_bg-h, rgb(220, 38, 38)),
    background-pressed: var(--btn_ng-s_bg-p, rgb(185, 28, 28)),
    background-loading: var(--btn_ng-s_bg-l, rgb(185, 28, 28)),
    border: var(--btn_ng-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_ng-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative-elevate: (
    content-general: var(--btn_ng-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_ng-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_ng-el_bg, rgb(239, 68, 68)),
    background-focused: var(--btn_ng-el_bg-f, rgb(220, 38, 38)),
    background-hovered: var(--btn_ng-el_bg-h, rgb(220, 38, 38)),
    background-pressed: var(--btn_ng-el_bg-p, rgb(185, 28, 28)),
    background-loading: var(--btn_ng-el_bg-l, rgb(185, 28, 28)),
    border: var(--btn_ng-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_ng-el_sh, 0px 2px 10px 0px rgba(239, 68, 68, 0.1)),
  ),
  color-negative-ghost: (
    content-general: var(--btn_ng-gh_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--btn_ng-gh_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--btn_ng-gh_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_ng-gh_bg-f, rgb(254, 202, 202)),
    background-hovered: var(--btn_ng-gh_bg-h, rgb(254, 202, 202)),
    background-pressed: var(--btn_ng-gh_bg-p, rgb(252, 165, 165)),
    background-loading: var(--btn_ng-gh_bg-l, rgb(252, 165, 165)),
    border: var(--btn_ng-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_ng-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative-ghost-outline: (
    content-general: var(--btn_ng-gh-o_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--btn_ng-gh-o_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--btn_ng-gh-o_bg, rgba(0, 0, 0, 0)),
    background-focused: var(--btn_ng-gh-o_bg-f, rgb(254, 202, 202)),
    background-hovered: var(--btn_ng-gh-o_bg-h, rgb(254, 202, 202)),
    background-pressed: var(--btn_ng-gh-o_bg-p, rgb(252, 165, 165)),
    background-loading: var(--btn_ng-gh-o_bg-l, rgb(252, 165, 165)),
    border: var(--btn_ng-gh-o_br, rgb(239, 68, 68)),
    shadow: var(--btn_ng-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-active-solid: (
    content-general: var(--btn_s-a-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_s-a-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_s-a-s_bg, rgb(79, 70, 229)),
    border: var(--btn_s-a-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-a-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-active-elevate: (
    content-general: var(--btn_s-a-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--btn_s-a-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--btn_s-a-el_bg, rgb(79, 70, 229)),
    border: var(--btn_s-a-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-a-el_sh, 0px 2px 10px 0px rgba(99, 102, 241, 0.1)),
  ),
  state-active-ghost: (
    content-general: var(--btn_s-a-gh_cnt-gn, rgb(99, 102, 241)),
    content-additional: var(--btn_s-a-gh_cnt-ad, rgba(99, 102, 241, 0.6)),
    background: var(--btn_s-a-gh_bg, rgb(199, 210, 254)),
    border: var(--btn_s-a-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-a-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-active-ghost-outline: (
    content-general: var(--btn_s-a-gh-o_cnt-gn, rgb(99, 102, 241)),
    content-additional: var(--btn_s-a-gh-o_cnt-ad, rgba(99, 102, 241, 0.6)),
    background: var(--btn_s-a-gh-o_bg, rgb(199, 210, 254)),
    border: var(--btn_s-a-gh-o_br, rgb(99, 102, 241)),
    shadow: var(--btn_s-a-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-solid: (
    content-general: var(--btn_s-db-s_cnt-gn, rgb(115, 115, 115)),
    content-additional: var(--btn_s-db-s_cnt-ad, rgb(115, 115, 115)),
    background: var(--btn_s-db-s_bg, rgb(64, 64, 64)),
    border: var(--btn_s-db-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-db-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-elevate: (
    content-general: var(--btn_s-db-el_cnt-gn, rgb(115, 115, 115)),
    content-additional: var(--btn_s-db-el_cnt-ad, rgb(115, 115, 115)),
    background: var(--btn_s-db-el_bg, rgb(212, 212, 212)),
    border: var(--btn_s-db-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-db-el_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-ghost: (
    content-general: var(--btn_s-db-gh_cnt-gn, rgb(115, 115, 115)),
    content-additional: var(--btn_s-db-gh_cnt-ad, rgb(115, 115, 115)),
    background: var(--btn_s-db-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-db-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-db-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-ghost-outline: (
    content-general: var(--btn_s-db-gh-o_cnt-gn, rgb(115, 115, 115)),
    content-additional: var(--btn_s-db-gh-o_cnt-ad, rgb(115, 115, 115)),
    background: var(--btn_s-db-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-db-gh-o_br, rgb(115, 115, 115)),
    shadow: var(--btn_s-db-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-solid: (
    content-general: var(--btn_s-sk-s_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--btn_s-sk-s_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --btn_s-sk-s_bg,
        linear-gradient(0deg, rgb(115, 115, 115) 0%, rgb(64, 64, 64) 100%)
      ),
    border: var(--btn_s-sk-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sk-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-elevate: (
    content-general: var(--btn_s-sk-el_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--btn_s-sk-el_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --btn_s-sk-el_bg,
        linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(115, 115, 115) 100%)
      ),
    border: var(--btn_s-sk-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sk-el_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-ghost: (
    content-general: var(--btn_s-sk-gh_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--btn_s-sk-gh_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --btn_s-sk-gh_bg,
        linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(115, 115, 115) 100%)
      ),
    border: var(--btn_s-sk-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sk-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-ghost-outline: (
    content-general: var(--btn_s-sk-gh-o_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--btn_s-sk-gh-o_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --btn_s-sk-gh-o_bg,
        linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(115, 115, 115) 100%)
      ),
    border: var(--btn_s-sk-gh-o_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sk-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-pending-solid: (
    content-general: var(--btn_s-pn-s_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_s-pn-s_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_s-pn-s_bg, rgb(219, 234, 254)),
    border: var(--btn_s-pn-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-pn-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-pending-elevate: (
    content-general: var(--btn_s-pn-el_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_s-pn-el_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_s-pn-el_bg, rgb(219, 234, 254)),
    border: var(--btn_s-pn-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-pn-el_sh, 0px 2px 10px 0px rgba(59, 130, 246, 0.1)),
  ),
  state-pending-ghost: (
    content-general: var(--btn_s-pn-gh_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_s-pn-gh_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_s-pn-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-pn-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-pn-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-pending-ghost-outline: (
    content-general: var(--btn_s-pn-gh-o_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--btn_s-pn-gh-o_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--btn_s-pn-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-pn-gh-o_br, rgb(59, 130, 246)),
    shadow: var(--btn_s-pn-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-success-solid: (
    content-general: var(--btn_s-sc-s_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--btn_s-sc-s_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--btn_s-sc-s_bg, rgb(209, 250, 229)),
    border: var(--btn_s-sc-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sc-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-success-elevate: (
    content-general: var(--btn_s-sc-el_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--btn_s-sc-el_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--btn_s-sc-el_bg, rgb(209, 250, 229)),
    border: var(--btn_s-sc-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sc-el_sh, 0px 2px 10px 0px rgba(16, 185, 129, 0.1)),
  ),
  state-success-ghost: (
    content-general: var(--btn_s-sc-gh_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--btn_s-sc-gh_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--btn_s-sc-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-sc-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-sc-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-success-ghost-outline: (
    content-general: var(--btn_s-sc-gh-o_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--btn_s-sc-gh-o_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--btn_s-sc-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-sc-gh-o_br, rgb(16, 185, 129)),
    shadow: var(--btn_s-sc-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-warning-solid: (
    content-general: var(--btn_s-wn-s_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--btn_s-wn-s_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--btn_s-wn-s_bg, rgb(254, 243, 199)),
    border: var(--btn_s-wn-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-wn-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-warning-elevate: (
    content-general: var(--btn_s-wn-el_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--btn_s-wn-el_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--btn_s-wn-el_bg, rgb(254, 243, 199)),
    border: var(--btn_s-wn-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-wn-el_sh, 0px 2px 10px 0px rgba(245, 158, 11, 0.1)),
  ),
  state-warning-ghost: (
    content-general: var(--btn_s-wn-gh_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--btn_s-wn-gh_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--btn_s-wn-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-wn-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-wn-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-warning-ghost-outline: (
    content-general: var(--btn_s-wn-gh-o_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--btn_s-wn-gh-o_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--btn_s-wn-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-wn-gh-o_br, rgb(245, 158, 11)),
    shadow: var(--btn_s-wn-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-error-solid: (
    content-general: var(--btn_s-er-s_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--btn_s-er-s_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--btn_s-er-s_bg, rgb(254, 226, 226)),
    border: var(--btn_s-er-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-er-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-error-elevate: (
    content-general: var(--btn_s-er-el_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--btn_s-er-el_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--btn_s-er-el_bg, rgb(254, 226, 226)),
    border: var(--btn_s-er-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-er-el_sh, 0px 2px 10px 0px rgba(239, 68, 68, 0.1)),
  ),
  state-error-ghost: (
    content-general: var(--btn_s-er-gh_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--btn_s-er-gh_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--btn_s-er-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-er-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--btn_s-er-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-error-ghost-outline: (
    content-general: var(--btn_s-er-gh-o_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--btn_s-er-gh-o_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--btn_s-er-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--btn_s-er-gh-o_br, rgb(239, 68, 68)),
    shadow: var(--btn_s-er-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
);
