.customButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: fit-content;
  height: 48px;
  color: var(--customButton-color);
  background-color: transparent;
  border: none;
  outline: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  & > svg {
    stroke: var(--customButton-color);
  }

  & > span {
    padding: 4px 8px;
  }
}
