$theme-dark: (
  color-dark-solid: (
    content-general: var(--bdg_dk-s_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--bdg_dk-s_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--bdg_dk-s_bg, rgb(23, 23, 23)),
    border: var(--bdg_dk-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_dk-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-dark-elevate: (
    content-general: var(--bdg_dk-el_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--bdg_dk-el_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--bdg_dk-el_bg, rgb(23, 23, 23)),
    border: var(--bdg_dk-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_dk-el_sh, 0px 2px 10px 0px rgba(23, 23, 23, 0.1)),
  ),
  color-dark-ghost: (
    content-general: var(--bdg_dk-gh_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--bdg_dk-gh_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--bdg_dk-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_dk-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_dk-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-dark-ghost-outline: (
    content-general: var(--bdg_dk-gh-o_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--bdg_dk-gh-o_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--bdg_dk-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_dk-gh-o_br, rgb(23, 23, 23)),
    shadow: var(--bdg_dk-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-solid: (
    content-general: var(--bdg_lt-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_lt-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_lt-s_bg, rgb(245, 245, 245)),
    border: var(--bdg_lt-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_lt-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-elevate: (
    content-general: var(--bdg_lt-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_lt-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_lt-el_bg, rgb(245, 245, 245)),
    border: var(--bdg_lt-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_lt-el_sh, 0px 2px 10px 0px rgba(245, 245, 245, 0.1)),
  ),
  color-light-ghost: (
    content-general: var(--bdg_lt-gh_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--bdg_lt-gh_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--bdg_lt-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_lt-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_lt-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-light-ghost-outline: (
    content-general: var(--bdg_lt-gh-o_cnt-gn, rgb(245, 245, 245)),
    content-additional: var(--bdg_lt-gh-o_cnt-ad, rgba(245, 245, 245, 0.6)),
    background: var(--bdg_lt-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_lt-gh-o_br, rgb(245, 245, 245)),
    shadow: var(--bdg_lt-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-solid: (
    content-general: var(--bdg_pm-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_pm-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_pm-s_bg, rgb(99, 102, 241)),
    border: var(--bdg_pm-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-elevate: (
    content-general: var(--bdg_pm-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_pm-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_pm-el_bg, rgb(99, 102, 241)),
    border: var(--bdg_pm-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm-el_sh, 0px 2px 10px 0px rgba(99, 102, 241, 0.1)),
  ),
  color-primary-ghost: (
    content-general: var(--bdg_pm-gh_cnt-gn, rgb(99, 102, 241)),
    content-additional: var(--bdg_pm-gh_cnt-ad, rgba(99, 102, 241, 0.6)),
    background: var(--bdg_pm-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_pm-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_pm-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-primary-ghost-outline: (
    content-general: var(--bdg_pm-gh-o_cnt-gn, rgb(99, 102, 241)),
    content-additional: var(--bdg_pm-gh-o_cnt-ad, rgba(99, 102, 241, 0.6)),
    background: var(--bdg_pm-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_pm-gh-o_br, rgb(99, 102, 241)),
    shadow: var(--bdg_pm-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-solid: (
    content-general: var(--bdg_sc-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_sc-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_sc-s_bg, rgb(59, 130, 246)),
    border: var(--bdg_sc-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-elevate: (
    content-general: var(--bdg_sc-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_sc-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_sc-el_bg, rgb(59, 130, 246)),
    border: var(--bdg_sc-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc-el_sh, 0px 2px 10px 0px rgba(59, 130, 246, 0.1)),
  ),
  color-secondary-ghost: (
    content-general: var(--bdg_sc-gh_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--bdg_sc-gh_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--bdg_sc-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_sc-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_sc-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-secondary-ghost-outline: (
    content-general: var(--bdg_sc-gh-o_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--bdg_sc-gh-o_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--bdg_sc-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_sc-gh-o_br, rgb(59, 130, 246)),
    shadow: var(--bdg_sc-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative-solid: (
    content-general: var(--bdg_inf-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_inf-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_inf-s_bg, rgb(59, 130, 246)),
    border: var(--bdg_inf-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_inf-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative-elevate: (
    content-general: var(--bdg_inf-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_inf-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_inf-el_bg, rgb(59, 130, 246)),
    border: var(--bdg_inf-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_inf-el_sh, 0px 2px 10px 0px rgba(59, 130, 246, 0.1)),
  ),
  color-informative-ghost: (
    content-general: var(--bdg_inf-gh_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--bdg_inf-gh_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--bdg_inf-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_inf-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_inf-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-informative-ghost-outline: (
    content-general: var(--bdg_inf-gh-o_cnt-gn, rgb(59, 130, 246)),
    content-additional: var(--bdg_inf-gh-o_cnt-ad, rgba(59, 130, 246, 0.6)),
    background: var(--bdg_inf-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_inf-gh-o_br, rgb(59, 130, 246)),
    shadow: var(--bdg_inf-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive-solid: (
    content-general: var(--bdg_ps-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_ps-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_ps-s_bg, rgb(16, 185, 129)),
    border: var(--bdg_ps-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ps-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive-elevate: (
    content-general: var(--bdg_ps-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_ps-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_ps-el_bg, rgb(16, 185, 129)),
    border: var(--bdg_ps-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ps-el_sh, 0px 2px 10px 0px rgba(16, 185, 129, 0.1)),
  ),
  color-positive-ghost: (
    content-general: var(--bdg_ps-gh_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--bdg_ps-gh_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--bdg_ps-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_ps-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ps-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-positive-ghost-outline: (
    content-general: var(--bdg_ps-gh-o_cnt-gn, rgb(16, 185, 129)),
    content-additional: var(--bdg_ps-gh-o_cnt-ad, rgba(16, 185, 129, 0.6)),
    background: var(--bdg_ps-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_ps-gh-o_br, rgb(16, 185, 129)),
    shadow: var(--bdg_ps-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention-solid: (
    content-general: var(--bdg_at-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_at-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_at-s_bg, rgb(245, 158, 11)),
    border: var(--bdg_at-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_at-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention-elevate: (
    content-general: var(--bdg_at-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_at-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_at-el_bg, rgb(245, 158, 11)),
    border: var(--bdg_at-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_at-el_sh, 0px 2px 10px 0px rgba(245, 158, 11, 0.1)),
  ),
  color-attention-ghost: (
    content-general: var(--bdg_at-gh_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--bdg_at-gh_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--bdg_at-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_at-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_at-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-attention-ghost-outline: (
    content-general: var(--bdg_at-gh-o_cnt-gn, rgb(245, 158, 11)),
    content-additional: var(--bdg_at-gh-o_cnt-ad, rgba(245, 158, 11, 0.6)),
    background: var(--bdg_at-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_at-gh-o_br, rgb(245, 158, 11)),
    shadow: var(--bdg_at-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative-solid: (
    content-general: var(--bdg_ng-s_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_ng-s_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_ng-s_bg, rgb(239, 68, 68)),
    border: var(--bdg_ng-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ng-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative-elevate: (
    content-general: var(--bdg_ng-el_cnt-gn, rgb(23, 23, 23)),
    content-additional: var(--bdg_ng-el_cnt-ad, rgba(23, 23, 23, 0.6)),
    background: var(--bdg_ng-el_bg, rgb(239, 68, 68)),
    border: var(--bdg_ng-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ng-el_sh, 0px 2px 10px 0px rgba(239, 68, 68, 0.1)),
  ),
  color-negative-ghost: (
    content-general: var(--bdg_ng-gh_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--bdg_ng-gh_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--bdg_ng-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_ng-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_ng-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  color-negative-ghost-outline: (
    content-general: var(--bdg_ng-gh-o_cnt-gn, rgb(239, 68, 68)),
    content-additional: var(--bdg_ng-gh-o_cnt-ad, rgba(239, 68, 68, 0.6)),
    background: var(--bdg_ng-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_ng-gh-o_br, rgb(239, 68, 68)),
    shadow: var(--bdg_ng-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-solid: (
    content-general: var(--bdg_s-db-s_cnt-gn, rgb(163, 163, 163)),
    content-additional: var(--bdg_s-db-s_cnt-ad, rgb(163, 163, 163)),
    background: var(--bdg_s-db-s_bg, rgb(82, 82, 82)),
    border: var(--bdg_s-db-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-db-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-elevate: (
    content-general: var(--bdg_s-db-el_cnt-gn, rgb(163, 163, 163)),
    content-additional: var(--bdg_s-db-el_cnt-ad, rgb(163, 163, 163)),
    background: var(--bdg_s-db-el_bg, rgb(82, 82, 82)),
    border: var(--bdg_s-db-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-db-el_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-ghost: (
    content-general: var(--bdg_s-db-gh_cnt-gn, rgb(163, 163, 163)),
    content-additional: var(--bdg_s-db-gh_cnt-ad, rgb(163, 163, 163)),
    background: var(--bdg_s-db-gh_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_s-db-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-db-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-disabled-ghost-outline: (
    content-general: var(--bdg_s-db-gh-o_cnt-gn, rgb(163, 163, 163)),
    content-additional: var(--bdg_s-db-gh-o_cnt-ad, rgb(163, 163, 163)),
    background: var(--bdg_s-db-gh-o_bg, rgba(0, 0, 0, 0)),
    border: var(--bdg_s-db-gh-o_br, rgb(115, 115, 115)),
    shadow: var(--bdg_s-db-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-solid: (
    content-general: var(--bdg_s-sk-s_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--bdg_s-sk-s_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --bdg_s-sk-s_bg,
        linear-gradient(0deg, rgb(115, 115, 115) 0%, rgb(64, 64, 64) 100%)
      ),
    border: var(--bdg_s-sk-s_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-sk-s_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-elevate: (
    content-general: var(--bdg_s-sk-el_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--bdg_s-sk-el_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --bdg_s-sk-el_bg,
        linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(115, 115, 115) 100%)
      ),
    border: var(--bdg_s-sk-el_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-sk-el_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-ghost: (
    content-general: var(--bdg_s-sk-gh_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--bdg_s-sk-gh_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --bdg_s-sk-gh_bg,
        linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(115, 115, 115) 100%)
      ),
    border: var(--bdg_s-sk-gh_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-sk-gh_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
  state-skeleton-ghost-outline: (
    content-general: var(--bdg_s-sk-gh-o_cnt-gn, rgba(0, 0, 0, 0)),
    content-additional: var(--bdg_s-sk-gh-o_cnt-ad, rgba(0, 0, 0, 0)),
    background:
      var(
        --bdg_s-sk-gh-o_bg,
        linear-gradient(0deg, rgb(212, 212, 212) 0%, rgb(115, 115, 115) 100%)
      ),
    border: var(--bdg_s-sk-gh-o_br, rgba(0, 0, 0, 0)),
    shadow: var(--bdg_s-sk-gh-o_sh, 0px 0px 0px 0px rgba(0, 0, 0, 0)),
  ),
);
