.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-width: var(--doc-sidebar-width);
}

.navbar__brand {
  margin: 0;
  height: 100%;

  overflow: hidden;
  width: 100%;
}
