.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--doc-sidebar-width);
  margin: 0;
}

.navbar__brand {
  margin: 0;
  height: 100%;
  border-right: 2px solid var(--color-neutral-700-04);
}
