.light {
  --inp_wh_cnt-gn: black;
  --inp_wh_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_wh_bg: white;
  --inp_wh_br: #e5e5e5;
  --inp_wh_br-h: #404040;
  --inp_wh_br-a: #4450d2;
  --inp_wh_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --inp_wh_strt-mt-txt: rgba(0, 0, 0, 0.6);
  --inp_wh_end-mt-txt: rgba(0, 0, 0, 0.6);
  --inp_s-sc_cnt-gn: black;
  --inp_s-sc_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_s-sc_bg: white;
  --inp_s-sc_br: #10b981;
  --inp_s-sc_br-h: #10b981;
  --inp_s-sc_br-a: #10b981;
  --inp_s-sc_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --inp_s-sc_strt-mt-txt: #10b981;
  --inp_s-sc_end-mt-txt: #10b981;
  --inp_s-er_cnt-gn: black;
  --inp_s-er_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_s-er_bg: white;
  --inp_s-er_br: #ef4444;
  --inp_s-er_br-h: #ef4444;
  --inp_s-er_br-a: #ef4444;
  --inp_s-er_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --inp_s-er_strt-mt-txt: #ef4444;
  --inp_s-er_end-mt-txt: #ef4444;
  --inp_s-db_cnt-gn: rgba(0, 0, 0, 0.6);
  --inp_s-db_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_s-db_bg: white;
  --inp_s-db_br: #e5e5e5;
  --inp_s-db_br-h: #e5e5e5;
  --inp_s-db_br-a: #e5e5e5;
  --inp_s-db_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.04);
  --inp_s-db_strt-mt-txt: rgba(0, 0, 0, 0.6);
  --inp_s-db_end-mt-txt: rgba(0, 0, 0, 0.6);
}

.dark {
  --inp_c-o_cnt-gn: black;
  --inp_c-o_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_c-o_bg: white;
  --inp_c-o_br: #e5e5e5;
  --inp_c-o_br-h: #404040;
  --inp_c-o_br-a: #4450d2;
  --inp_c-o_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --inp_c-o_strt-mt-txt: rgba(0, 0, 0, 0.6);
  --inp_c-o_end-mt-txt: rgba(0, 0, 0, 0.6);
  --inp_s-sc_cnt-gn: black;
  --inp_s-sc_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_s-sc_bg: white;
  --inp_s-sc_br: #10b981;
  --inp_s-sc_br-h: #10b981;
  --inp_s-sc_br-a: #10b981;
  --inp_s-sc_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --inp_s-sc_strt-mt-txt: #10b981;
  --inp_s-sc_end-mt-txt: #10b981;
  --inp_s-er_cnt-gn: black;
  --inp_s-er_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_s-er_bg: white;
  --inp_s-er_br: #ef4444;
  --inp_s-er_br-h: #ef4444;
  --inp_s-er_br-a: #ef4444;
  --inp_s-er_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --inp_s-er_strt-mt-txt: #ef4444;
  --inp_s-er_end-mt-txt: #ef4444;
  --inp_s-db_cnt-gn: rgba(0, 0, 0, 0.6);
  --inp_s-db_cnt-ad: rgba(0, 0, 0, 0.6);
  --inp_s-db_bg: white;
  --inp_s-db_br: #e5e5e5;
  --inp_s-db_br-h: #e5e5e5;
  --inp_s-db_br-a: #e5e5e5;
  --inp_s-db_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.04);
  --inp_s-db_strt-mt-txt: rgba(0, 0, 0, 0.6);
  --inp_s-db_end-mt-txt: rgba(0, 0, 0, 0.6);
}
