.container {
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  gap: 8px;
  grid-auto-rows: minmax(34px, auto);

  padding: 32px;
  border-radius: 16px;
  background-color: gray;

  .tile {
    height: 34px;
    border-radius: 6px;
  }
}
