.light {
  --card-color-bg: var(--color-neutral-100);
  --card-c-gn: var(--color-neutral-700);
  --card-c-ad: var(--color-neutral-400);
}

.dark {
  --card-color-bg: var(--color-neutral-700);
  --card-c-gn: var(--color-neutral-100);
  --card-c-ad: var(--color-neutral-400);
}

.color {
  --card-color-bg: var(--ifm-color-primary);
  --card-c-gn: var(--color-neutral-100);
  --card-c-ad: var(--color-neutral-100);
}

.card {
  padding: 32px;

  background: var(--card-color-bg);
  border-radius: 16px;

  .colorValue {
    width: 100%;
    height: 64px;
    background: var(--card-color-value);
    border-radius: 6px;
    margin-bottom: 48px;
  }

  .title {
    display: block;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: var(--card-c-gn);
  }

  .values {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;

    & > span {
      // white-space: nowrap;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--card-c-ad);
    }
  }
}

$colors: (
  black: #000000,
  white: #ffffff,
  indigo: #4020e0,
  purple: #6020e0,
  blue: #0060ff,
  green: #00c060,
  yellow: #ffa020,
  red: #ff6040,
);

@each $colorName, $colorValue in $colors {
  .palette-#{'' + $colorName} {
    --card-color-value: #{'' + $colorValue};
  }
}
