.wrapper {
  flex-shrink: 0;
}

.light {
  --toggle-btn-bg: var(--color-neutral-700-08);
  --toggle-btn-toggler-bg: var(--color-neutral-700);

  --toggle-btn-toggler-ic-l: var(--color-neutral-100);
  --toggle-btn-toggler-ic-d: var(--color-neutral-700);
}

.dark {
  --toggle-btn-bg: var(--color-neutral-100-08);
  --toggle-btn-toggler-bg: var(--color-neutral-700);

  --toggle-btn-toggler-ic-l: var(--color-neutral-700);
  --toggle-btn-toggler-ic-d: var(--color-neutral-100);
}

.toggleButton {
  --toggle-btn-w: 112px;
  --toggle-btn-h: 48px;
  --toggle-btn-bdrs: 8px;
  --toggle-animation: 0.12s ease-in-out;

  --transition-movement: calc(var(--toggle-btn-w) - 48px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  width: var(--toggle-btn-w);
  height: var(--toggle-btn-h);

  border: none;
  background-color: var(--toggle-btn-bg);
  border-radius: var(--toggle-btn-bdrs);
  cursor: pointer;
  padding: 0;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--toggle-animation);
  width: var(--toggle-btn-h);
  height: var(--toggle-btn-h);

  background-color: var(--toggle-btn-toggler-bg);
  border-radius: var(--toggle-btn-bdrs);
}

.togglerActive {
  transform: translateX(var(--transition-movement));
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--toggle-btn-h);
  height: var(--toggle-btn-h);
}

.icon {
  position: relative;
  z-index: 10;
  transition: var(--toggle-animation);
}

.bulb {
  stroke: var(--toggle-btn-toggler-ic-l);
  stroke-width: 2;
  stroke-linecap: round;
}

.moon {
  fill: var(--toggle-btn-toggler-ic-d);
}
