$scale: (
  track-width: (
    xs: 4px,
  ),
  track-padding: (
    xs: 0px,
  ),
  thumb-width: (
    xs: 4px,
  ),
  thumb-height: (
    xs: 32px,
  ),
  track-border-radius: (
    xs: 2px,
  ),
  thumb-border-radius: (
    xs: 2px,
  ),
);
