$border-color: (
  transparent: rgba(0, 0, 0, 0),
  dark: rgb(23, 23, 23),
  dark-80\%: rgba(23, 23, 23, 0.8),
  dark-60\%: rgba(23, 23, 23, 0.6),
  dark-40\%: rgba(23, 23, 23, 0.4),
  dark-20\%: rgba(23, 23, 23, 0.2),
  neutral: rgb(115, 115, 115),
  neutral-80\%: rgba(115, 115, 115, 0.8),
  neutral-60\%: rgba(115, 115, 115, 0.6),
  neutral-40\%: rgba(115, 115, 115, 0.4),
  neutral-20\%: rgba(115, 115, 115, 0.2),
  light: rgb(245, 245, 245),
  light-80\%: rgba(245, 245, 245, 0.8),
  light-60\%: rgba(245, 245, 245, 0.6),
  light-40\%: rgba(245, 245, 245, 0.4),
  light-20\%: rgba(245, 245, 245, 0.2),
  primary: rgb(99, 102, 241),
  primary-80\%: rgba(99, 102, 241, 0.8),
  primary-60\%: rgba(99, 102, 241, 0.6),
  primary-40\%: rgba(99, 102, 241, 0.4),
  primary-20\%: rgba(99, 102, 241, 0.2),
  secondary: rgb(59, 130, 246),
  secondary-80\%: rgba(59, 130, 246, 0.8),
  secondary-60\%: rgba(59, 130, 246, 0.6),
  secondary-40\%: rgba(59, 130, 246, 0.4),
  secondary-20\%: rgba(59, 130, 246, 0.2),
  informative: rgb(59, 130, 246),
  informative-80\%: rgba(59, 130, 246, 0.8),
  informative-60\%: rgba(59, 130, 246, 0.6),
  informative-40\%: rgba(59, 130, 246, 0.4),
  informative-20\%: rgba(59, 130, 246, 0.2),
  positive: rgb(16, 185, 129),
  positive-80\%: rgba(16, 185, 129, 0.8),
  positive-60\%: rgba(16, 185, 129, 0.6),
  positive-40\%: rgba(16, 185, 129, 0.4),
  positive-20\%: rgba(16, 185, 129, 0.2),
  attention: rgb(245, 158, 11),
  attention-80\%: rgba(245, 158, 11, 0.8),
  attention-60\%: rgba(245, 158, 11, 0.6),
  attention-40\%: rgba(245, 158, 11, 0.4),
  attention-20\%: rgba(245, 158, 11, 0.2),
  negative: rgb(239, 68, 68),
  negative-80\%: rgba(239, 68, 68, 0.8),
  negative-60\%: rgba(239, 68, 68, 0.6),
  negative-40\%: rgba(239, 68, 68, 0.4),
  negative-20\%: rgba(239, 68, 68, 0.2),
);
