$color: (
  transparent: rgba(0, 0, 0, 0),
  black: rgba(0, 0, 0, 1),
  white: rgba(255, 255, 255, 1),
  accent-1-700: #0060ff,
  accent-1-600: #146dff,
  accent-1-500: #3d86ff,
  accent-1-400: #7aacff,
  accent-1-300: #adccff,
  accent-1-200: #d6e6ff,
  accent-1-100: #ebf2ff,
  accent-2-700: #6020e0,
  accent-2-600: #6d32e2,
  accent-2-500: #8656e7,
  accent-2-400: #ac8bef,
  accent-2-300: #ccb8f5,
  accent-2-200: #e6dbfa,
  accent-2-100: #f2edfd,
  neutral-700: #0a0a0a,
  neutral-600: #141414,
  neutral-500: #292929,
  neutral-400: #858585,
  neutral-300: #e0e0e0,
  neutral-200: #f5f5f5,
  neutral-100: #ffffff,
  informative-700: #4020e0,
  informative-600: #4f32e2,
  informative-500: #6e56e7,
  informative-400: #9c8bef,
  informative-300: #c2b8f5,
  informative-200: #e0dbfa,
  informative-100: #f0edfd,
  positive-700: #00c060,
  positive-600: #14c56d,
  positive-500: #3dcf86,
  positive-400: #7adeac,
  positive-300: #adebcc,
  positive-200: #d6f5e6,
  positive-100: #ebfaf2,
  attention-700: #ffa020,
  attention-600: #ffa832,
  attention-500: #ffb756,
  attention-400: #ffce8b,
  attention-300: #ffe1b8,
  attention-200: #fff0db,
  attention-100: #fff7ed,
  negative-700: #ff6040,
  negative-600: #ff6d4f,
  negative-500: #ff866e,
  negative-400: #ffac9c,
  negative-300: #ffccc2,
  negative-200: #ffe6e0,
  negative-100: #fff2f0,
);
