$palette: (
  transparent: rgba(0, 0, 0, 0),
  black: #000000,
  white: #ffffff,
  blue-700: #0060ff,
  blue-600: #146dff,
  blue-500: #3d86ff,
  blue-400: #7aacff,
  blue-300: #adccff,
  blue-200: #d6e6ff,
  blue-100: #ebf2ff,
  purple-700: #6020e0,
  purple-600: #6d32e2,
  purple-500: #8656e7,
  purple-400: #ac8bef,
  purple-300: #ccb8f5,
  purple-200: #e6dbfa,
  purple-100: #f2edfd,
  neutral-700: #0a0a0a,
  neutral-600: #141414,
  neutral-500: #292929,
  neutral-400: #858585,
  neutral-300: #e0e0e0,
  neutral-200: #f5f5f5,
  neutral-100: #ffffff,
  indigo-700: #4020e0,
  indigo-600: #4f32e2,
  indigo-500: #6e56e7,
  indigo-400: #9c8bef,
  indigo-300: #c2b8f5,
  indigo-200: #e0dbfa,
  indigo-100: #f0edfd,
  green-700: #00c060,
  green-600: #14c56d,
  green-500: #3dcf86,
  green-400: #7adeac,
  green-300: #adebcc,
  green-200: #d6f5e6,
  green-100: #ebfaf2,
  yellow-700: #ffa020,
  yellow-600: #ffa832,
  yellow-500: #ffb756,
  yellow-400: #ffce8b,
  yellow-300: #ffe1b8,
  yellow-200: #fff0db,
  yellow-100: #fff7ed,
  red-700: #ff6040,
  red-600: #ff6d4f,
  red-500: #ff866e,
  red-400: #ffac9c,
  red-300: #ffccc2,
  red-200: #ffe6e0,
  red-100: #fff2f0,
);
