$scale: (
  width: (
    2xl: 128px,
    xl: 120px,
    l: 112px,
    m: 104px,
    s: 96px,
    xs: 88px,
  ),
  height: (
    2xl: 64px,
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  padding-x: (
    2xl: 20px,
    xl: 17px,
    l: 14px,
    m: 11px,
    s: 8px,
    xs: 5px,
  ),
  padding-y: (
    2xl: 20px,
    xl: 17px,
    l: 14px,
    m: 11px,
    s: 8px,
    xs: 4px,
  ),
  gap-x: (
    2xl: 16px,
    xl: 16px,
    l: 12px,
    m: 10px,
    s: 6px,
    xs: 6px,
  ),
  gap-y: (
    2xl: 16px,
    xl: 16px,
    l: 12px,
    m: 10px,
    s: 6px,
    xs: 6px,
  ),
  border-width: (
    2xl: 2px,
    xl: 2px,
    l: 2px,
    m: 1px,
    s: 1px,
    xs: 1px,
  ),
  border-radius-circular: (
    2xl: 32px,
    xl: 28px,
    l: 24px,
    m: 20px,
    s: 16px,
    xs: 12px,
  ),
  border-radius-rounded: (
    2xl: 16px,
    xl: 12px,
    l: 10px,
    m: 8px,
    s: 6px,
    xs: 4px,
  ),
  text-font-size: (
    2xl: 14px,
    xl: 14px,
    l: 14px,
    m: 14px,
    s: 12px,
    xs: 12px,
  ),
  text-letter-spacing: (
    2xl: 0px,
    xl: 0px,
    l: 0px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
  text-line-height: (
    2xl: 24px,
    xl: 22px,
    l: 20px,
    m: 18px,
    s: 16px,
    xs: 16px,
  ),
  meta-font-size: (
    2xl: 14px,
    xl: 14px,
    l: 14px,
    m: 14px,
    s: 12px,
    xs: 12px,
  ),
  meta-line-height: (
    2xl: 20px,
    xl: 20px,
    l: 18px,
    m: 18px,
    s: 16px,
    xs: 16px,
  ),
  text-padding-x: (
    2xl: 0px,
    xl: 0px,
    l: 0px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
  text-padding-y: (
    2xl: 2px,
    xl: 1px,
    l: 1px,
    m: 0px,
    s: 0px,
    xs: 0px,
  ),
);
