$theme-light: (
  color-white: (
    content-general: var(--inp_wh_cnt-gn, rgb(0, 0, 0)),
    content-additional: var(--inp_wh_cnt-ad, rgba(0, 0, 0, 0.6)),
    background: var(--inp_wh_bg, rgb(255, 255, 255)),
    border: var(--inp_wh_br, rgb(229, 229, 229)),
    border-hovered: var(--inp_wh_br-h, rgb(64, 64, 64)),
    border-active: var(--inp_wh_br-a, #4450d2),
    drop-shadow: var(--inp_wh_drp-sh, 0px 4px 8px rgba(0, 0, 0, 0.08)),
    start-meta-text: var(--inp_wh_strt-mt-txt, rgba(0, 0, 0, 0.6)),
    end-meta-text: var(--inp_wh_end-mt-txt, rgba(0, 0, 0, 0.6)),
  ),
  state-success: (
    content-general: var(--inp_s-sc_cnt-gn, rgb(0, 0, 0)),
    content-additional: var(--inp_s-sc_cnt-ad, rgba(0, 0, 0, 0.6)),
    background: var(--inp_s-sc_bg, rgb(255, 255, 255)),
    border: var(--inp_s-sc_br, rgb(16, 185, 129)),
    border-hovered: var(--inp_s-sc_br-h, rgb(16, 185, 129)),
    border-active: var(--inp_s-sc_br-a, rgb(16, 185, 129)),
    drop-shadow: var(--inp_s-sc_drp-sh, 0px 4px 8px rgba(0, 0, 0, 0.08)),
    start-meta-text: var(--inp_s-sc_strt-mt-txt, rgb(16, 185, 129)),
    end-meta-text: var(--inp_s-sc_end-mt-txt, rgb(16, 185, 129)),
  ),
  state-error: (
    content-general: var(--inp_s-er_cnt-gn, rgb(0, 0, 0)),
    content-additional: var(--inp_s-er_cnt-ad, rgba(0, 0, 0, 0.6)),
    background: var(--inp_s-er_bg, rgb(255, 255, 255)),
    border: var(--inp_s-er_br, rgb(239, 68, 68)),
    border-hovered: var(--inp_s-er_br-h, rgb(239, 68, 68)),
    border-active: var(--inp_s-er_br-a, rgb(239, 68, 68)),
    drop-shadow: var(--inp_s-er_drp-sh, 0px 4px 8px rgba(0, 0, 0, 0.08)),
    start-meta-text: var(--inp_s-er_strt-mt-txt, rgb(239, 68, 68)),
    end-meta-text: var(--inp_s-er_end-mt-txt, rgb(239, 68, 68)),
  ),
  state-disabled: (
    content-general: var(--inp_s-db_cnt-gn, rgba(0, 0, 0, 0.6)),
    content-additional: var(--inp_s-db_cnt-ad, rgba(0, 0, 0, 0.6)),
    background: var(--inp_s-db_bg, rgb(255, 255, 255)),
    border: var(--inp_s-db_br, rgb(229, 229, 229)),
    border-hovered: var(--inp_s-db_br-h, rgb(229, 229, 229)),
    border-active: var(--inp_s-db_br-a, rgb(229, 229, 229)),
    drop-shadow: var(--inp_s-db_drp-sh, 0px 4px 8px rgba(0, 0, 0, 0.04)),
    start-meta-text: var(--inp_s-db_strt-mt-txt, rgba(0, 0, 0, 0.6)),
    end-meta-text: var(--inp_s-db_end-mt-txt, rgba(0, 0, 0, 0.6)),
  ),
);
