$variables: (
  theme-light: (
    --inp_wh_cnt-gn: rgb(0, 0, 0),
    --inp_wh_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_wh_bg: rgb(255, 255, 255),
    --inp_wh_br: rgb(229, 229, 229),
    --inp_wh_br-h: rgb(64, 64, 64),
    --inp_wh_br-a: #4450d2,
    --inp_wh_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08),
    --inp_wh_strt-mt-txt: rgba(0, 0, 0, 0.6),
    --inp_wh_end-mt-txt: rgba(0, 0, 0, 0.6),
    --inp_s-sc_cnt-gn: rgb(0, 0, 0),
    --inp_s-sc_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_s-sc_bg: rgb(255, 255, 255),
    --inp_s-sc_br: rgb(16, 185, 129),
    --inp_s-sc_br-h: rgb(16, 185, 129),
    --inp_s-sc_br-a: rgb(16, 185, 129),
    --inp_s-sc_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08),
    --inp_s-sc_strt-mt-txt: rgb(16, 185, 129),
    --inp_s-sc_end-mt-txt: rgb(16, 185, 129),
    --inp_s-er_cnt-gn: rgb(0, 0, 0),
    --inp_s-er_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_s-er_bg: rgb(255, 255, 255),
    --inp_s-er_br: rgb(239, 68, 68),
    --inp_s-er_br-h: rgb(239, 68, 68),
    --inp_s-er_br-a: rgb(239, 68, 68),
    --inp_s-er_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08),
    --inp_s-er_strt-mt-txt: rgb(239, 68, 68),
    --inp_s-er_end-mt-txt: rgb(239, 68, 68),
    --inp_s-db_cnt-gn: rgba(0, 0, 0, 0.6),
    --inp_s-db_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_s-db_bg: rgb(255, 255, 255),
    --inp_s-db_br: rgb(229, 229, 229),
    --inp_s-db_br-h: rgb(229, 229, 229),
    --inp_s-db_br-a: rgb(229, 229, 229),
    --inp_s-db_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.04),
    --inp_s-db_strt-mt-txt: rgba(0, 0, 0, 0.6),
    --inp_s-db_end-mt-txt: rgba(0, 0, 0, 0.6),
  ),
  theme-dark: (
    --inp_c-o_cnt-gn: rgb(0, 0, 0),
    --inp_c-o_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_c-o_bg: rgb(255, 255, 255),
    --inp_c-o_br: rgb(229, 229, 229),
    --inp_c-o_br-h: rgb(64, 64, 64),
    --inp_c-o_br-a: #4450d2,
    --inp_c-o_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08),
    --inp_c-o_strt-mt-txt: rgba(0, 0, 0, 0.6),
    --inp_c-o_end-mt-txt: rgba(0, 0, 0, 0.6),
    --inp_s-sc_cnt-gn: rgb(0, 0, 0),
    --inp_s-sc_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_s-sc_bg: rgb(255, 255, 255),
    --inp_s-sc_br: rgb(16, 185, 129),
    --inp_s-sc_br-h: rgb(16, 185, 129),
    --inp_s-sc_br-a: rgb(16, 185, 129),
    --inp_s-sc_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08),
    --inp_s-sc_strt-mt-txt: rgb(16, 185, 129),
    --inp_s-sc_end-mt-txt: rgb(16, 185, 129),
    --inp_s-er_cnt-gn: rgb(0, 0, 0),
    --inp_s-er_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_s-er_bg: rgb(255, 255, 255),
    --inp_s-er_br: rgb(239, 68, 68),
    --inp_s-er_br-h: rgb(239, 68, 68),
    --inp_s-er_br-a: rgb(239, 68, 68),
    --inp_s-er_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.08),
    --inp_s-er_strt-mt-txt: rgb(239, 68, 68),
    --inp_s-er_end-mt-txt: rgb(239, 68, 68),
    --inp_s-db_cnt-gn: rgba(0, 0, 0, 0.6),
    --inp_s-db_cnt-ad: rgba(0, 0, 0, 0.6),
    --inp_s-db_bg: rgb(255, 255, 255),
    --inp_s-db_br: rgb(229, 229, 229),
    --inp_s-db_br-h: rgb(229, 229, 229),
    --inp_s-db_br-a: rgb(229, 229, 229),
    --inp_s-db_drp-sh: 0px 4px 8px rgba(0, 0, 0, 0.04),
    --inp_s-db_strt-mt-txt: rgba(0, 0, 0, 0.6),
    --inp_s-db_end-mt-txt: rgba(0, 0, 0, 0.6),
  ),
);
