$emoji-scale: (
  width: (
    2xl: 64px,
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  height: (
    2xl: 64px,
    xl: 56px,
    l: 48px,
    m: 40px,
    s: 32px,
    xs: 24px,
  ),
  border-radius-circular: (
    2xl: 32px,
    xl: 28px,
    l: 24px,
    m: 20px,
    s: 16px,
    xs: 12px,
  ),
  border-radius-rounded: (
    2xl: 16px,
    xl: 12px,
    l: 10px,
    m: 8px,
    s: 6px,
    xs: 4px,
  ),
);
