$scale: (
  width: (
    2xl: 24px,
    xl: 22px,
    l: 20px,
    m: 18px,
    s: 16px,
    xs: 14px,
  ),
  height: (
    2xl: 24px,
    xl: 22px,
    l: 20px,
    m: 18px,
    s: 16px,
    xs: 14px,
  ),
  border-radius: (
    circular-2xl: 32px,
    circular-xl: 28px,
    circular-l: 24px,
    circular-m: 20px,
    circular-s: 16px,
    circular-xs: 12px,
    rounded-2xl: 16px,
    rounded-xl: 12px,
    rounded-l: 10px,
    rounded-m: 8px,
    rounded-s: 6px,
    rounded-xs: 4px,
  ),
  border-width: (
    2xl: 2px,
    xl: 1.8px,
    l: 1.6px,
    m: 1.4px,
    s: 1.2px,
    xs: 1px,
  ),
);
