.examples {
  width: 100%;
  display: grid;
  gap: 32px;
  grid-template-columns: var(--examples-cols-template);
  grid-auto-rows: minmax(64px, auto);
}

@each $max, $min in (1: 1, 2: 1, 3: 1) {
  .cols_#{$max} {
    --examples-cols-template: repeat(#{$min}, 1fr);
  }

  @media (min-width: 1920px) {
    .cols_#{$max} {
      --examples-cols-template: repeat(#{$max}, 1fr);
    }
  }
}

@each $max, $min in (4: 2) {
  .cols_#{$max} {
    --examples-cols-template: repeat(#{$min}, 1fr);
  }

  @media (min-width: 1921px) {
    .cols_#{$max} {
      --examples-cols-template: repeat(#{$max}, 1fr);
    }
  }
}

$modeColors: (
  light: var(--color-neutral-100),
  dark: var(--color-neutral-700),
  color: var(--ifm-color-primary),
);

.example {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 32px;

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
  }

  @each $mode, $bgColor in $modeColors {
    &_#{'' + $mode} {
      background-color: #{$bgColor};
    }
  }
}
