.light {
  --prism-color: var(--color-neutral-700) !important;
  --prism-background-color: var(--color-neutral-200) !important;
}

.dark {
  --prism-color: var(--color-neutral-100) !important;
  --prism-background-color: var(--color-neutral-600) !important;
}

.color {
  --prism-color: var(--color-neutral-100) !important;
  --prism-background-color: var(--color-neutral-600) !important;
}

.codeBlockContainer {
  background: var(--prism-background-color);
  color: var(--prism-color);
  // margin-bottom: var(--ifm-leading);
  // box-shadow: var(--ifm-global-shadow-lw);
  box-shadow: none;
  // border-radius: var(--ifm-code-border-radius);
  border-radius: 24px;
}
